src/main/resources/files/Res_GTO_v10.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:simpleType name="guid">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                The representation of a GUID, generally the id of an element.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Res_GTO.xml">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DateGenerated" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:dateTime">
                                <xs:attribute name="DateRange" type="xs:string" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Info" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Version" type="xs:unsignedByte" minOccurs="0"/>
                <xs:element name="Doc" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="id_dso_diagn_card" type="xs:unsignedInt" use="optional"/>
                        <xs:attribute name="guid" type="guid" use="required"/>
                        <xs:attribute name="del" type="xs:boolean" use="optional"/>
                        <xs:attribute name="ds_code" type="xs:unsignedInt" use="optional"/>
                        <xs:attribute name="dc_seria" type="xs:string" use="optional"/>
                        <xs:attribute name="dc_number" type="xs:unsignedInt" use="optional"/>
                        <xs:attribute name="dateto" type="xs:string" use="optional"/>
                        <xs:attribute name="method_izm" type="xs:unsignedByte" use="optional"/>
                        <xs:attribute name="reg_number" type="xs:string" use="optional"/>
                        <xs:attribute name="dateauto" type="xs:unsignedShort" use="optional"/>
                        <xs:attribute name="tc_seria" type="xs:string" use="optional"/>
                        <xs:attribute name="tc_number" type="xs:string" use="optional"/>
                        <xs:attribute name="vin_is_chassi" type="xs:unsignedByte" use="optional"/>
                        <xs:attribute name="vin" type="xs:string" use="optional"/>
                        <xs:attribute name="id_ts_type" type="xs:unsignedByte" use="optional"/>
                        <xs:attribute name="id_ts_type_engine" type="xs:unsignedByte" use="optional"/>
                        <xs:attribute name="id_ts_marca" type="xs:unsignedInt" use="optional"/>
                        <xs:attribute name="id_ts_categ" type="xs:unsignedByte" use="optional"/>
                        <xs:attribute name="id_ts_use" type="xs:unsignedByte" use="optional"/>
                        <xs:attribute name="id_ts_colour" type="xs:unsignedShort" use="optional"/>
                        <xs:attribute name="eko_class" type="xs:string" use="optional"/>
                        <xs:attribute name="weight" type="xs:unsignedInt" use="optional"/>
                        <xs:attribute name="mileage" type="xs:string" use="optional"/>
                        <xs:attribute name="parent" type="xs:string" use="optional"/>
                        <xs:attribute name="dl_seria" type="xs:string" use="optional"/>
                        <xs:attribute name="dl_number" type="xs:unsignedLong" use="optional"/>
                        <xs:attribute name="num_inspection" type="xs:unsignedByte" use="optional"/>
                        <xs:attribute name="check" type="xs:string" use="optional"/>
                        <xs:attribute name="notes" type="xs:string" use="optional"/>
                        <xs:attribute name="mismatch" type="xs:string" use="optional"/>
                        <xs:attribute name="photo" type="xs:unsignedByte" use="optional"/>
                        <xs:attribute name="conclusion" type="xs:unsignedByte" use="optional"/>
                        <xs:attribute name="owner_name" type="xs:string" use="optional"/>
                        <xs:attribute name="owner_type" type="xs:unsignedByte" use="optional"/>
                        <xs:attribute name="owner_unp" type="xs:string" use="optional"/>
                        <xs:attribute name="customer_name" type="xs:string" use="optional"/>
                        <xs:attribute name="customer_type" type="xs:string" use="optional"/>
                        <xs:attribute name="customer_unp" type="xs:string" use="optional"/>
                        <xs:attribute name="symma_s_nds" type="xs:string" use="optional"/>
                        <xs:attribute name="symma_nds" type="xs:string" use="optional"/>
                        <xs:attribute name="blanc_repeat_date" type="xs:string" use="optional"/>
                        <xs:attribute name="blanc_repeat_seria" type="xs:string" use="optional"/>
                        <xs:attribute name="blanc_repeat_number" type="xs:string" use="optional"/>
                        <xs:attribute name="user_name" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
